@import '../../Variables.scss';

.subscription-list {
    border-radius: 4px;
    border: solid 1px #354049;
    background-color: #354049;
    color: #8B97A4;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 100px;

        &-amount {
            text-align: right;
            color: $color-white;
            padding-right: 10px;
        }

        &-billing {
            text-align: center;
        }

        &-type {
            display: flex;
            align-items: center;

            > div {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &--type-m {
            .subscription-list__item-type {
                > div {
                    background-color: $color-frequency-monthly;
                    color: $color-white;
                }
            }
        }

        &--type-y {
            .subscription-list__item-type {
                > div {
                    background-color: $color-frequency-yearly;
                    color: $color-white;
                }
            }
        }
    }

    &--sm {
        display: none;
    }

    // responsive on phone
    @media (max-width: 600px) {
        

        &__item {
            grid-template-columns: 50px 1fr 100px 20px;
            border-bottom: solid 1px #8B97A4;

            &:first-child {
                margin-top: 20px;
                color: $color-lists;
                font-weight: normal;
            }

            &-category {
                color: $color-green-secondary;
                font-size: 0.8em;
            }
        }

        &--md {
            visibility: hidden;
            display: none;
        }

        &--sm {
            visibility: visible;
            display: grid;
        }
    }
}