@import '../../Variables.scss';

.subscription-list {
    border-radius: 4px;
    border: solid 1px var(--st-card-border-color);
    background-color: var(--st-card-bg);
    color: var(--st-gray-600); //#8B97A4;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            background-color: var(--st-list-bg);
        }
    }

    &__actions {
        align-items: center;
        gap: 0;

        button {
            flex: 1;
            margin: 0;
            border-radius: 0;
            text-align: center;
            justify-content: center;

            &:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            &:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr 1fr 100px;
        border-bottom: solid 1px var(--st-input-border-color);
        color: var(--st-body-color);

        &-name {
            font-weight: 500;
            color: var(--st-body-color);
        }

        &-amount {
            text-align: right;
            padding-right: 10px;
        }

        &-billing {
            text-align: center;

            &--m {
                color: var(--st-frequency-monthly);
            }

            &--y {
                color: var(--st-frequency-yearly);
            }
        }

        &-type {
            display: flex;
            align-items: center;

            > div {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &--type-m {
            .subscription-list__item-type {
                > div {
                    background-color: var(--st-frequency-monthly);
                    color: var(--st-body-color);;
                }
            }
        }

        &--type-y {
            .subscription-list__item-type {
                > div {
                    background-color: var(--st-frequency-yearly);
                    color: var(--st-body-color);;
                }
            }
        }
    }

    &--sm {
        display: none;
    }

    // responsive on phone
    @media (max-width: 600px) {
        
        &__actions {
            display: flex;
        }

        &__item {
            grid-template-columns: 40px 1fr 100px 20px;

            &:first-child {
                margin-top: 0;
                color: var(--st-list-color);
                font-weight: normal;
            }

            &-category {
                color: var(--st-green-light);
                font-size: 0.7em;
                margin-top: 5px;
            }
        }

        &--md {
            visibility: hidden;
            display: none;
        }

        &--sm {
            visibility: visible;
            display: grid;
            margin: 0;
        }

        
    }
}

.scrollable-container {
    position: relative;
    max-height: 454px;
    overflow: hidden;
    z-index: 1;

    &::before, &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 20px; /* Adjust the height of the gradient effect */
        pointer-events: none; /* Prevents the gradient from blocking interaction */
    }

    &::before {
        top: 0;
        background-image: linear-gradient(to bottom, rgba(55, 65, 73, 0.5), rgba(55, 65, 73, 0));
    }

    &::after {
        bottom: 0;
        background-image: linear-gradient(to top, rgba(55, 65, 73, 0.5), rgba(55, 65, 73, 0));
    }
}

.scrollable-list {
    max-height: 454px; /* Same as container */
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

// responsive on phone
@media (max-width: 600px) {
    .scrollable-container {
        max-height: 270px;
    }

    .scrollable-list {
        max-height: 270px; /* Same as container */
    }
}
