@import '../../Variables.scss';

.subscription-list {
    border-radius: 4px;
    border: solid 1px #354049;
    background-color: #354049;
    color: #8B97A4;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 100px;
    }
}

// .clear-btn {
//     position: relative;
// }

// .tooltip-text {
//     visibility: hidden;
//     width: 120px;
//     background-color: $color-status-danger;
//     color: #fff;
//     text-align: center;
//     border-radius: 6px;
//     padding: 10px;
//     position: absolute;
//     z-index: 1;
//     bottom: 110%;
//     left: 40%;
//     margin-left: -60px;
//     /* Adjust above as needed */
// }

// .clear-btn:hover .tooltip-text {
//     visibility: visible;
// }