@import "../../Variables.scss";

.consent-modal {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    background-color: $color-white;
    color: var(--st-gray-800);
    border: solid 1px $color-shade-5;
    margin: 0;
    padding: 10px;
    font-size: 0.8em;

    p {
        margin: 0;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}