@import '../../Variables.scss';

.card {
    background-color: white;
    padding: 1.5em;
    border-radius: 4px;
    color: $color-white;
    display: grid;
    grid-template-columns: 1fr 2fr; // Two equal columns
    align-items: center; // Vertically align content
    grid-template-areas: 
        "icon metric"
        "icon label";

    &__icon {
        grid-area: icon;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }

    &__label {
        grid-area: label;
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 30px;
        text-align: right;
    }

    &__metric {
        grid-area: metric;
        font-size: 2em;
        font-weight: 500;
        margin-bottom: 10px;
        text-align: right;
    }

    &--no-icon {
        grid-template-columns: 1fr; // Single column when no icon
        grid-template-areas: "metric" "label";
        text-align: center; // Center align the text

        .card__label, .card__metric {
            text-align: center;
        }
    }

    &--green{
        background-color: $color-green;
    }

    &--blue{
        background-color: $color-blue;
    }

    &--purple{
        background-color: $color-purple;
    }

    &--orange{
        background-color: $color-orange;
    }

    &--pink{
        background-color: $color-pink;
    }

    // responsive on phone
    @media (max-width: 600px) {
        grid-template-columns: 1fr; // Single column on phone
        grid-template-areas: "icon" "metric" "label";
        align-items: center;
        justify-content: center;
        padding: 10px;

        .card__label, .card__metric {
            text-align: center;
        }

        &__label {
            font-size: 0.8em;
        }

        &__metric {
            font-size: 1.5em;
            margin-top: 10px;
        }

        &__icon {
            width: 100%;
            height: auto;
        }
    }
}