@import '../../Variables.scss';

.icon {
    background-color: var(--st-body-color);;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;

    &--xs {
        height: 20px;
        width: 20px;
        font-size: 0.8em;
    }

    &--sm {
        height: 40px;
        width: 40px;
        font-size: 1.5em;
    }

    &--md {
        height: 60px;
        width: 60px;
        font-size: 2em;
    }

    &--lg {
        height: 80px;
        width: 80px;
        font-size: 2.5em;
    }

    &--green {
        background-color: var(--st-green-dark);

        &.icon--invert {
            color: var(--st-green);
        }
    }

    &--blue {
        background-color: var(--st-blue-dark);

        &.icon--invert {
            color: var(--st-blue);
        }
    }

    &--purple {
        background-color: var(--st-purple-dark);

        &.icon--invert {
            color: var(--st-purple);
        }
    }

    &--orange {
        background-color: var(--st-orange-dark);

        &.icon--invert {
            color: var(--st-orange);
        }
    }

    &--pink {
        background-color: var(--st-pink-dark);;

        &.icon--invert {
            color: var(--st-pink);
        }
    }

    // responsive on phone
    @media (max-width: 600px) {
        height: 50px;
        width: 50px;
        font-size: 2em;
    }
}