@import '../../Variables.scss';

.subscription-charts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    &--two-column {
        grid-template-columns: 1fr 1fr;
    }

    &__views {
        display: flex;
        gap: 0;
        align-items: center;
        justify-content: flex-end;

        button {
            &.selected {
                &.subscription-charts__view--m {
                    color: $color-frequency-monthly;
                }
                &.subscription-charts__view--y {
                    color: $color-frequency-yearly;
                }
            }
        }
    }

    &__view--m {
        color: $color-frequency-monthly;
    }

    &__view--y {
        color: $color-frequency-yearly;
    }

    // responsive on phone
    @media (max-width: 600px) {
        &--two-column {
            grid-template-columns: 1fr;
        }
    }
}