.subscription-charts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    &--two-column {
        grid-template-columns: 1fr 1fr;
    }

    &__views {
        display: flex;
        gap: 0;
        align-items: center;
        justify-content: flex-end;
    }

    // responsive on phone
    @media (max-width: 600px) {
        &--two-column {
            grid-template-columns: 1fr;
        }

        // &__views {
        //     display: none;
        // }
    }
}