$main-background-color: #303842;
$secondary-background-color: #374149;
$primary-color: #348CD4;
$primary-color-foreground: #C8DDF2;
$secondary-color: #dc3545;

$color-white: #fff;
$color-black: #000;
$color-black-secondary-light: #D0D2D4;
$color-green: #78C351;
$color-green-secondary-light: #97CF7F;
$color-green-secondary: #6BA754;
$color-blue: #45BBE0;
$color-blue-secondary-light: #74C9E6;
$color-blue-secondary: #45A1C1;
$color-purple: #8892D6;
$color-purple-secondary-light: #A2ABDE;
$color-purple-secondary: #7882B9;
$color-orange: #FA9F1B;
$color-orange-secondary-light: #FFE6CD;
$color-orange-secondary: #6E583F;
$color-pink: #F06292;
$color-pink-secondary-light: #F089AC;
$color-pink-secondary: #C85D84;

// statuses
$color-status-success: #78C351;
$color-status-warning: #FA9F1B;
$color-status-error: #F7521F;
$color-status-info: #03A9F4;
$color-status-danger: #F7521F;

// buttons
$color-btn-primary: #354049;
$color-btn-primary-foreground: #6A737B;
$color-btn-primary-border: #6A737B;
$color-btn-primary-hover: #6C757D;


// shades
$color-shade-1: #303842;
$color-shade-2: #374149;
$color-shade-3: #3B4651;
$color-shade-4: #94A0AD; // text
$color-shade-5: #424E5A; // border

// input
$color-input-background: #3B4651;
$color-input-border: #424E5A;
$color-input-border-focus: #6C757D;
$color-input-text: #94A0AD;

$color-lists: #8B97A4;

$color-frequency-monthly: $color-blue;
$color-frequency-yearly: $color-pink;

$colors-vibrant: #10e462 #befe08 #7bde28 #ce5116 #cbad1c #e30f0b #07fb50 #13cd92 #d831d4 #9dfb30;